{
    "plugins": ["prettier-plugin-organize-imports"],
    "importOrder": [
        "^react$",
        "^react/.*$",
        "^@mui/.*$",
        "^@/(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "tabWidth": 4,
    "singleQuote": true
}
